# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output
dist/
build/

# Operating System files
.DS_Store
Thumbs.db

# IDE or editor directories
.vscode/
.idea/